.home-bg-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px;
  padding-top: 38px;
}

.home-img {
  width: 180px;
}

.home-text {
  font-size: 45px;
  font-family: 'roboto';
  font-weight: 500;
  color: #6d396b;
}

@media (max-width: 767px) {
  .home-img {
    width: 170px;
  }
  .home-text {
    font-size: 38px;
  }
}
